<html ng-app="promari">
<head>
	<meta charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="js/angular.min.js"></script>
  <!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
-->
	<script src="js/controller.js"></script>
</head>
<body ng-controller="MainController">

  <div class="perfis">
    <div id="perfil{{perfil.periodo}}" ng-repeat="perfil in periodos">
      <input id="cb{{perfil.periodo}}" class="cbperfil" type="checkbox" ng-model="perfil.all" ng-click="recalcularCreditos($event,0)"/>
      <a ng-click="perfil.toggleShow=!perfil.toggleShow">Perfil {{perfil.periodo}}</a>
      <div id="perfil{{perfil.periodo}}toggle" ng-show="perfil.toggleShow" class="perfil">
      	<div ng-repeat="disciplina in perfil.disciplinas">
      		
            <input id="p{{perfil.periodo}}d{{$index}}" class="disciplina obrigatorias" ng-class="{estagio:disciplina.estagio}" type="checkbox" ng-model="disciplina.checked" ng-checked="perfil.all" ng-click="recalcularCreditos($event,disciplina.creditos)" data-creditos="{{disciplina.creditos}}"/>
            [{{disciplina.codigo}}] {{disciplina.disciplina}} ({{disciplina.creditos}})
          
    		</div>
    		<div ng-if="perfil.opthumanascompl">
        		
              <input id="humcompl{{$index}}" class="disciplina opthumanascompl" type="checkbox" ng-model="perfil.opthumanascomplchecked" ng-checked="perfil.all" ng-click="recalcularCreditos($event,perfil.opthumanascompl)" data-creditos="{{perfil.opthumanascompl}}"/>
              {{perfil.opthumanascompl}} créditos de Optativas Humanas/Complementares
            
    		</div>
    		<div ng-if="perfil.optprofissionalizante">
        		
              <input id="prof{{$index}}" class="disciplina optprofissionalizante" type="checkbox" ng-model="perfil.optprofissionalizantechecked" ng-checked="perfil.all" ng-click="recalcularCreditos($event,perfil.optprofissionalizante)" data-creditos="{{perfil.optprofissionalizante}}"/>
              {{perfil.optprofissionalizante}} créditos de Optativas Profissionalizantes
            
    		</div>
    		<div ng-if="perfil.ativcomplementar">
        		
              <input id="ativcomp{{$index}}" class="disciplina ativcomplementar" type="checkbox" ng-model="perfil.ativcomplementarchecked" ng-checked="perfil.all" ng-click="recalcularCreditos($event,perfil.ativcomplementar)" data-creditos="{{perfil.ativcomplementar}}"/>
              {{perfil.ativcomplementar}} horas de Atividades Complementares
            
    		</div>
      </div>
    </div>
    <div>
      Optativas Humanas/Complementares
      <div ng-repeat="disciplina in disciplinas.opthumanascompl">
        [{{disciplina.codigo}}] {{disciplina.disciplina}} ({{disciplina.creditos}})
      </div>
  </div>
    <div ng-repeat="disciplina in disciplinas.optprofissionalizante">
      [{{disciplina.codigo}}] {{disciplina.disciplina}} ({{disciplina.creditos}})
    </div>
    <div ng-repeat="disciplina in disciplinas.ativcomplementar">
      {{disciplina.nome}} - {{disciplina.carga}} ({{disciplina.comprovante}})
    </div>
  </div>
  <div class="calculos">
    <div>
      {{creditosObrigatorios}}/154 créditos de disciplinas obrigatórias ({{(creditosObrigatorios/154)*100 | number:0}}%)
    </div>
    <div>
      {{creditosHumCompl}}/20 créditos de disciplinas para o desenvolvimento humano e complementar ({{(creditosHumCompl/20)*100 | number:0}}%)
    </div>
    <div>
      {{creditosProfiss}}/12 créditos de disciplinas optativas profissionalizantes ({{(creditosProfiss/12)*100 | number:0}}%)
    </div>
    <div>
      {{horasAtivCompl}}/60 horas de atividades complementares ({{(horasAtivCompl/60)*100 | number:0}}%)
    </div>
    <div>
      {{creditosEstagio}}/26 créditos de estágio ({{(creditosEstagio/26)*100 | number:0}}%)
    </div>
    <div>
      {{total = creditosObrigatorios+creditosHumCompl+creditosProfiss+creditosEstagio}}/212 créditos de disciplinas ({{(total/212)*100 | number:2}}%)
    </div>
  </div>

</body>
</html>